.connectWallet {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
}

.heading {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.heading .indicator {
    border-radius: 50%;
    background-color: #0BAA60;
    outline: 4px solid #0BAA6033;
    width: 12px;
    height: 12px;
}

.heading .text {
    margin-left: 8px;
    width: 0;
    flex-grow: 1;
    color: #110C22;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.subheading {
    color: #8D8A95;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 8px;
}

.btnContainer {
    margin-top: 48px;
}